<div class="form-inline clearfix">
	<div class="nested-fields">
		<%= f.label :text, "Step:" %>
		<%= f.text_field(:text, class: 'form-control', :placeholder => "Ex: Fold in slowly") %>
		 <%= link_to_remove_association "Remove", f, class: "btn btn-danger" %>
	</div>
</div>
