<div class="form-inline">
  <div class="form-group nested-fields">
		<%= f.text_field(:quantity, class: "form-control w-40", :placeholder => "Quantity (Ex: 1 cup)") %>

		<%= f.fields_for(:ingredient) do |ri_ingredient| %>
		<%= ri_ingredient.text_field(:name, class: "form-control w-40", :placeholder => "Name (Ex: diced chicken)") %>
	  <% end %>
		<%= link_to_remove_association "X", f, class: "btn btn-danger" %>
	</div>
</div>
