
<div class="text-center">
  <h2>Breakfast</h2>
</div>
<div class="row">
  <% @breakfast.each do |recipe| %>
  <div class="col-xs-12 col-sm-4">
<div class="card" style="width: 18rem;">
<%= image_tag recipe.image, class: "img-fluid img-thumbnail" %>
<div class="card-body">
<h5 class="card-title"><%= recipe.name.titleize %></h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<%= link_to "View Recipe", recipe_path(recipe)%>
</div>
</div>
</div>
<% end %>
</div>

<div class="recipe-editor">
  <% if current_user %>
    <%= link_to "Add New Recipe", new_recipe_path, class: "btn btn-sm btn-secondary" %>
  <% end %>
</div>
