<div>
<h1>Recipe Manager</h1>

<h2>Manage Your Recipe Catalog Online</h2>
<p>
Life is much more complicated now than it was ever before. It seems we're
always on the go, and this can take a toll on our health. Why not make eating
at home a little easier to do? With this recipe manager, you can have all your
favorite recipes at your fingertips. Arrange recipes by complexity, time to
prepare, type of dish, and much more!
</p>

</div>
