<span class="ingredient">
    <label>Name</label>
    <input type="text" name="recipe[ingredients_attributes][][name]" >
  </span>

<span class="quantity">
  <label>Quantity</label>
  <input type="text" name="recipe[ingredients_attributes][][quantity]" >
</span>
<br>
