$light-brown: #614D2B;
$brown: #58472A;
$white: #FFF;
$off-white: #F5F5F5;

/* body */
body {
  padding-top: 4em;
  margin-bottom: 50px;
  background: url(asset_path('cooking.jpg')) no-repeat;
  background-size: cover;
}

.main {
  background: rgba(157, 157, 157, 0.8);
}

.form-button {
  margin-top: 14px;
}

// #user {
//   font-size: 16px;
// }

nav {
  padding-bottom: 4em;
}

.navbar-text {
  font-size: 16px;
}

div#form-title {
  margin-left: 15px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

nav .navbar-text {
  font-style: italic;
}

@media (max-width: 767px) {
  nav {
    clear: both;
    position: relative;
    .navbar-text {
      position: absolute;
      bottom: 0px;
      right: 0px;
      margin-bottom: 7.5px;
      font-size: 12px;
    }
  }

  li a#home {
    display: none;
  }
}

/* container next to header */

@media (max-width: 767px) {
  header + div.container {
    margin-top: 130.5px;
  }
}

@media (min-width: 768px) {
  header + div.container {
    margin-top: 51px;
  }
}

/* recipe */

h1 div.recipe-editor {
  display: block;
  margin: 10px 10px 10px 0px;
}

h2 div.recipe-editor {
  display: inline-block;
  margin: 10px 10px 10px 0px;
}

li {
  list-style: none;
  color: $off-white;
}

/* li#directions {
  list-style: decimal;
} */

p {
  color: $off-white;
}

h2.recipe-main a{
  color: black;
}

ul {
  padding-left: 0px;
}

/* user */

h1 div.user-editor {
  display: block;
  margin: 10px 10px 10px 0px;
}

/* form */

li .form-control {
  display: inline-block;
  margin-bottom: 10px;
}

li .form-inline .form-control {
  margin-right: 10px;
}

div#form_error ul {
  color: #A94442
}

div.field_with_errors input.form-control {
  border-color: #C75351
}

div.form-inline.clearfix {
  margin-bottom: 1em;
}

div #ingredients-directions-fields {
  padding-bottom: 4em;
}

div #recipe-info, #recipe-image, #cook-prep-time {
  padding-bottom: 2em;
}

div #submitted {
  padding-bottom: 2em;
}

/* alert */

.alert {
  margin-top: 20px;
  margin-bottom: 10px;
}

img {
  max-height: 14em;
}
